#!/usr/bin/make -f
  
DH_VERBOSE=1

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/dpatch.mk
include /usr/share/dpatch/dpatch.make

DEB_CONFIGURE_EXTRA_FLAGS := \
	--prefix=/usr \
	--mandir=\$${prefix}/share/man \
	--infodir=\$${prefix}/share/info \
	--localstatedir=/var/lib/sphinxsearch \
	--sysconfdir=/etc/sphinxsearch \
	--enable-id64 \
	--with-pgsql \
	--with-mysql \
	--with-libstemmer \
	--with-iconv \
	--with-unixodbc
#	CFLAGS="$(CFLAGS)" LDFLAGS="-Wl,-z,defs"

#common-install-prehook-indep:: common-install-prehook-indep-impl
common-install-arch common-install-indep:: common-install-impl
common-install-impl::
	docbook-to-man debian/indexer.1.sgml > indexer.1
	docbook-to-man debian/searchd.1.sgml > searchd.1
